

    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

    .nav-logo{
        width: 100%;
    }
    .nav-heading{
        width: 100%;
    }
    .nav-menu{
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .nav-menu a{
        display: inline-block;
        background: transparent;
        transition: 0.3s;
    }
    .nav-menu a:hover{
        background: transparent;
        text-decoration: underline;
        transform: scale(1.2);
    }
    .about-image img{
        width: 150px;
    }
    .card{
        margin: 2%;
        padding: 15px;
    }